body {
	margin: 0;
	padding: 0;
	background: url('../image/fon.jpg') no-repeat;
    background-size: cover;
}

.header {
	background: url('../image/black.jpg') no-repeat center top / cover;
}

.header a {
	color: #fff;
}

.logo {
	margin-right: 69px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.menu {
	display: flex;
}

li {
	list-style-type: none;
}

.menu li a {
	text-transform: uppercase;
	text-decoration: none;
}

.menu li {
	margin-right: 80px; 
}

.nav {
	display: flex;
	align-items: center;
}

.search {
	margin-left: 100px;
}

input {
	width: 300px;
	height: 35px;
	border-radius: 5px;
}

button {
	width: 100px;
	height: 40px;
	border-radius: 5px;
}

/*Slideshow container*/
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto; 
}

/*Hide the image by default*/
.mySlides {
	display: none;
}

/*Next & previous buttons*/
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/*Position the "next button" to the right*/
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/*On hover, add a black background color with a little bit see-through*/
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0, 8);
}

/*Caption Text*/
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/*Fading animation*/
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

.movies {
  display: flex;
  justify-content: center;
}

.item {
  width: 20%;
  margin-right: 20px;
  margin-top: 70px;
}

.item img {
  display: flex;
  max-width: 100%;
  border-radius: 10px;
}

.item h3 {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 26px;
  text-shadow: 2px 2px 1px #000;
  margin-left: 100px;
}

h1 {
	color: #fff;
	text-shadow: 2px 2px 1px #000;
	font-size: 36px;
}

.podborka {
  display: flex;
  justify-content: center;
}

.item1 {
  width: 20%;
  margin-right: 50px;
  margin-top: 80px;
}

.item1 img {
	display: flex;
	width: 330px;
	height: 220px;
	border-radius: 10px;
	background-color: green;
}

.item1 h3 {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 26px;
  text-shadow: 2px 2px 1px #000;
  background-color: red;
  margin-left: 100px;
}

.gif {
	width: 800px;
	height: 500px;
	margin-left: 500px;
}

.registration {
	color: #fff;
	font-family: Verdana;
	font-size: 20px;
	margin-left: 350px;
}

.registration a {
	text-decoration: none;
}

.registration a.singin:hover {
	color: #7CFF01;
}

.registration a.singup:hover {
	color: #FF0000;
}

.enter {
	color: #fff;
}

.form-control {
    width: 300px;
    font-size: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 5px;
}

.container {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 400px;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #fff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  margin-left: 10px; 
  border: none;
  cursor: pointer;
  width: 400px;
  opacity: 0.9;
  font-size: 20px;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

label {
	color: #fff;
	font-size: 20px;
	text-shadow: 2px 2px 1px #000;
}

.container_signin {
	font-size: 25px;
	margin-left: 100px;
}

p {
	color: #fff;
	text-shadow: 2px 2px 1px #000;
}

.back_wall {
	background: url('../image/logo/wallpaper.jpg') no-repeat;
    background-size: cover;
}