body {
	margin: 0;
	padding: 0;
	background: url('../image/fon.jpg') no-repeat center center fixed;
	background: cover; 
}

.header {
	background: url('../image/black.jpg') no-repeat center top / cover;
}

.header a {
	color: #fff;
}

.logo {
	margin-right: 69px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.menu {
	display: flex;
}

li {
	list-style-type: none;
}

.menu li a {
	text-transform: uppercase;
	text-decoration: none;
}

.menu li {
	margin-right: 80px; 
}

.nav {
	display: flex;
	align-items: center;
}

.search {
	margin-left: auto;
}

input {
	width: 415px;
	height: 35px;
	border-radius: 5px;
}

button {
	width: 130px;
	height: 40px;
	border-radius: 5px;
}

/*.main {
	background: url('../image/fon.jpg') no-repeat center center fixed;
	background: cover; 
}*/

* {box-sizing: border-box}

/*Slideshow container*/
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto; 
}

/*Hide the image by default*/
.mySlides {
	display: none;
}

/*Next & previous buttons*/
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/*Position the "next button" to the right*/
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/*On hover, add a black background color with a little bit see-through*/
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0, 8);
}

/*Caption Text*/
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/*Fading animation*/
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

.movies {
  display: flex;
  justify-content: center;
}

.item {
  width: 20%;
  margin-right: 20px;
  margin-top: 70px;
}

.item img {
  display: flex;
  max-width: 100%;
  border-radius: 10px;
}

.item h3 {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 26px;
  text-shadow: 2px 2px 1px #000;
  background-color: red;
  margin-left: 100px;
}

h1 {
	color: #fff;
	text-shadow: 2px 2px 1px #000;
	font-size: 36px;
	/*background-color: blue;*/
}

.podborka {
  display: flex;
  justify-content: center;
}

.item1 {
  width: 20%;
  margin-right: 50px;
  margin-top: 80px;
}

.item1 img {
	display: flex;
	width: 330px;
	height: 220px;
	border-radius: 10px;
	background-color: green;
}

.item1 h3 {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 26px;
  text-shadow: 2px 2px 1px #000;
  background-color: red;
  margin-left: 100px;
}

.gif {
	width: 800px;
	height: 500px;
	margin-left: 500px;
}